<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Restaurants</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/morestyles/restoList.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=search" />
</head>
<body>

{{> header}} <!-- Header partial -->

<div id="background"></div>

<section class="resto-list-container">
    <h2>Eateries</h2>

    <!-- Search Bar -->
    <form>
        <div class="search">
            <span class="search-icon material-symbols-outlined">search</span>
            <input class="search-input" type="search" placeholder="Search Restaurants">
        </div>
    </form>

    <!-- Sorting Options -->
    <div class="dropdown">
        <button>Sort By...</button>
        <div class="sort-option">
            <a href="?sort=bestRated">Best Rated</a>
            <a href="?sort=mostRatings">Most Ratings</a>
            <a href="?sort=mostReviewed">Most Reviewed</a>
            <a href="?sort=recentlyReviewed">Recently Reviewed</a>
        </div>
    </div>

    <!-- Dynamic Restaurant List -->
    {{#each establishments}}
    <a href="/restoProfiles/{{this._id}}">
        <div class="listed-resto">
            <div class="resto-logo-container">
                <img class="resto-logo" src="{{this.bannerImage}}" alt="{{this.name}} logo">
            </div>

            <div class="resto-info-container">
                <div class="resto-name"><span>{{this.name}}</span></div>
                <div class="star-rating">
                    {{this.overallRating}} <img class="star-icon" src="/icons/star.png" alt="star"> ({{this.reviews.length}} reviews)
                </div>
                <div class="resto-desc">
                    {{this.description}}
                </div>
            </div>
        </div>
    </a>
    {{/each}}
</section>

<script src="/scripts/profileModal.js"></script>
</body>
</html>
