<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{user.username}} - ANIMO EATS</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/shared_styles/reviews.css">
    <link rel="stylesheet" href="/styles/morestyles/restoProfile.css">
    <link rel="stylesheet" href="/styles/morestyles/userProfile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/b496b1e4d0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <!-- header content -->
    <div class="header">
        <div class="home">
            <a href="/">ANIMO
                <img style="height: 40px;" src="/icons/ANIMOEATS_logo.png" alt="jollysnorlax.png" >
                EATS</a>
        </div>
        <div class="navlink"> <a href="/restoList.html">Restaurants</a> </div>
        <div class="profile"><button id="profileBtn"> Log-in <i class="fa fa-solid fa-user"></i></button></div>
    </div>

    <div id="profileModal" class="modal">
        <div class="modal-content"><b>Existing Profile</b><br>
            <label for="username">
                <input id="username" type="text" placeholder="Username"> <br>
            </label>

            <label for="password">
                <input id="password" type="password" placeholder="Password">
            </label>
            <button id="loginBtn" class="button_dkgreen">Log-in <i class="fa fa-solid fa-user"></i></button>
            <p>Don't have an account yet? <a href="html/sign-up.html">Sign-Up</a></p>
        </div>
    </div>
    <!-- end of header content -->

    <div class="profile-container">
        <div class="section-title">User Profile</div>
        <div class="profile-card">
            <div class="profile-picture" style="background-image: url('{{user.avatar}}');"></div>
            <div class="profile-info">
                <div class="profile-name">{{user.username}}</div>
                <div class="profile-bio"> {{user.bio}}
               </div>
            </div>
            <button class="edit-button"><i class="fa fa-pencil"></i></button>
        </div>

        <div class="section-title">Statistics</div>
        <div class="stats-section">
            <div class="reviews-made">
                <div class="reviews-count">{{user.stats.reviewsMade}}</div>
                <div>Reviews Made</div>
            </div>
            <div class="reviews-placeholder">
                <div class="reviews-count">{{user.stats.reputation}}</div>
                <div>Reputation</div>
            </div>
            <div class="rating-distribution">
                <div class="rating-bar">
					<span class="rating-number">5</span>
					<div class="rating-progress-tube">
						<div class="rating-progress" style="width: 50%"></div>
					</div>
				</div>
               <div class="rating-bar">
					<span class="rating-number">4</span>
					<div class="rating-progress-tube">
						<div class="rating-progress" style="width: 0%"></div>
					</div>
				</div>
               <div class="rating-bar">
					<span class="rating-number">3</span>
					<div class="rating-progress-tube">
						<div class="rating-progress" style="width: 50%"></div>
					</div>
				</div>
               <div class="rating-bar">
					<span class="rating-number">2</span>
					<div class="rating-progress-tube">
						<div class="rating-progress" style="width: 0%"></div>
					</div>
				</div>
               <div class="rating-bar">
					<span class="rating-number">1</span>
					<div class="rating-progress-tube">
						<div class="rating-progress" style="width: 0%"></div>
					</div>
				</div>
            </div>
        </div>


        <div class="section-title">Recent Reviews</div>
        {{#each user.reviews}}
            <article class="reviews">
                <div id="review1" class="review-container" data-review-id="{{this._id}}">
                    <img class="display-pic" src="{{this.userId.avatar}}" alt="pfp.jpg">
                    <div class="heading"> {{this.userId.username}} </div>
                    <div class="star-rating"><img class="star-icon-review" src="/icons/star.png" alt="star icon"> {{this.rating}} </div>
                    <div class="establishment">reviewing <a href="/restoProfile/{{this.establishmentId._id}}">{{this.establishmentId.name}}</a></div>
                    <div class="heading"> {{this.title}} </div>
                    <div class="description"> {{this.body}} </div>
                    {{#if this.media}}
                        <div class="review-images">
                            {{#each this.media}}
                                <img src="{{this}}" alt="Review Image">
                            {{/each}}
                        </div>
                    {{/if}}
                    <div class="date">{{formatDate this.createdAt}} </div>
                    {{#if this.edited}}<div class="edit-tag"> edited </div> {{/if}}
                    <div class="vote">
                        <button class="upvote">
                            <i class="fa-solid fa-up-long"></i>
                        </button>
                        <button class="downvote">
                            <i class="fa-solid fa-down-long"></i>
                        </button>
                    </div>
                </div>
            </article>
        {{/each}}

	<div id="editProfileModal" class="modal">
		<div class="modal-content">
			<h2>Edit Profile</h2>
            <form id="editProfileForm">
                <div class="form-group">
                    <label for="editName">Name:</label>
                    <input type="text" id="editName" class="edit-input" value="Sir Art">
                </div>
                <div class="form-group">
                    <label for="editBio">Bio:</label>
                    <textarea id="editBio" class="edit-input" rows="3"></textarea>
                </div>
				<div class="form-group">
					<label for="editAvatar">Profile Picture:</label>
					<input type="file" id="editAvatar" class="edit-input" accept="image/*">
				</div>
                <div class="button-group">
                    <button type="submit" class="save-button">Save Changes</button>
                    <button type="button" class="cancel-button">Cancel</button>
                </div>
            </form>

        </div>
	</div>
	<div id="editReviewModal" class="modal">
		<div class="modal-content">
			<h2>Edit Review</h2>
			<form id="editReviewForm">
				<div class="form-group">
					<label for="editRating">Rating:</label>
					<select id="editRating" class="edit-input">
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
					</select>
				</div>
				<div class="form-group">
					<label for="editReviewText">Review:</label>
					<textarea id="editReviewText" class="edit-input" rows="3"></textarea>
				</div>
				<div class="button-group">
					<button type="submit" class="save-button">Save Changes</button>
					<button type="button" class="cancel-button">Cancel</button>
				</div>
			</form>
		</div>
	</div>
	</div>
	<script src="/scripts/editProfile.js"></script>
	<script src="/scripts/editReview.js"></script>
        <script src="/scripts/profileModal.js"></script>
</body>
</html>